<div class="container">
  <p class="text-primary text-center my-4">
    {{ title }}
  </p>

  <div class="row">
    <div class="col-12 col-md-4 my-3">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1490237014491-822aee911b99?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" />
   <p class="m-0 m-2">
    Another cold night selfie
   </p>
      </div>

    </div>

    <div class="col-12 col-md-4 my-3">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1501446690852-da55df7bfe07?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" />
   <p class="m-0 m-2">
    Hong Kong
   </p>
      </div>

    </div>


    <div class="col-12 col-md-4 my-3">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" />
   <p class="m-0 m-2">
    Ancient Bristlecone Pine Forest
   </p>
      </div>

    </div>
  </div>
</div>
<ul>
</ul>

<router-outlet></router-outlet>
